<header>
    <h1>
        <span>PixelPrime</span><span>Tech</span>
    </h1>
    <nav>
        <ul>
            <li>
                <a>
                    Produtos
                </a>
            </li>

            <li>
                <a>
                    Carrinho
                    <i class="fa-duotone fa-cart-shopping fa-flip"></i>
                </a>
            </li>
            <li>
                <a></a>
            </li>
            <li>
                <a>Contato</a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </nav>
</header>
