 .input-wrapper {
    position: relative;
    display: flex;
  }
  
  .input-wrapper input {
    box-sizing: border-box;
    flex: 1;
    background-color: var(--light-gray);
    color: var(--dark-blue);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 16px;
    border-radius: 10px 0 0px 10px;
    padding: 10px;
    width: 500px;
    border: 1px solid orange;
  }
  
  .input-wrapper input.focused,
  .input-wrapper button.focused {
    border: 3px solid var(--tangerine) ;
  }
  
  .input-wrapper button {
    background: linear-gradient(to right, var(--orange2), var(--tangerine) );
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 0 10px 10px 0;
    width: 56px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
  }
  
  